html, body {
  overflow-y: auto; 
  overflow-x: auto;
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', serif;
}

.open-sans-unique {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.contenedor {
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image:
      linear-gradient(to left, rgba(189, 187, 190, 0.221) 0%, rgba(157, 162, 163, 0.199) 100%),
      radial-gradient(88% 271%, rgba(255, 255, 255, 0.3) 0%, rgba(254, 254, 254, 0.3) 1%, rgba(0, 0, 0, 0.2) 100%),
      radial-gradient(50% 100%, rgba(255, 255, 255, 0.22) 0%, rgba(0, 0, 0, 0.226) 100%),
      url(img/foto_principal.jpg);
  background-blend-mode: normal, lighten, soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.contenedor-head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.titulo {
  font-size: 70px; 
  margin-bottom: 15px;
  color: white; 
}

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #fff; 
  font-size: 40px; 
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
}

.header-logo img {
  width: 100%;
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hamburguesa {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.menu-navegacion {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  background-color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion.desplegar {
  transform: translate(0);
  transition: transform 0.3s ease; 
}

.menu-navegacion a:hover {
  color: #f1c40f;
}

.menu-navegacion a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #2c3e50;
  font-size: 40px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
}

.lista-servicios {
  width: 45%;
}

.servicios {
  margin-bottom: 20px;
}

.opcion-servicio {
  margin-bottom: 7px;
  color: #2c3e50;
}

.numero-opcion {
  display: inline-block;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.galeria {
  background: white;
}

.galeria-item {
  flex: 1 1 calc(33.333% - 20px); 
  margin-bottom: 20px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.propiedad-detalle {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
}

.propiedad-detalle i {
  font-size: 20px;
  color: #2c3e50; 
}

.galeria-item figcaption {
  background-color: #e0e0e0;
  color: #2c3e50; 
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal; 
}


.galeria-item img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.descripcion-lote {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.descripcion-lote li {
  margin-bottom: 5px;
}

.descripcion-lote strong {
  font-weight: bold;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formulario-contacto {
  width: 60%;
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo-formulario {
  margin-bottom: 15px;
}

.campo-formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.campo-formulario input,
.campo-formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.campo-formulario input:focus,
.campo-formulario textarea:focus {
  border-color: #2c3e50;
  outline: none;
  box-shadow: 0 0 5px rgba(159, 138, 208, 0.5);
}

button[type="submit"] {
  background: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background: #3d566f;
  transition: background 0.3s ease;
}

.geolocalizacion {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.geolocalizacion:hover {
  color: #f1c40f;
}

.boton-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.boton-whatsapp:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
}

.boton-whatsapp i {
  font-size: 30px;
}

footer {
  background: #2c3e50;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: left;
}

.footer-seccion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-seccion h3 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f1c40f;
  padding-bottom: 5px;
}

.footer-seccion p, .footer-seccion a {
  font-size: 14px;
  color: #ecf0f1;
  text-decoration: none;
}

.footer-seccion a:hover {
  color: #f1c40f;
}

.footer-seccion i {
  margin-right: 8px;
  font-size: 18px;
}

.footer-seccion a i {
  font-size: 24px;
  margin-right: 5px;
}

.dise침ador {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dise침ador:hover {
  color: orange;
}


@media screen and (max-width: 800px) {
  .contenedor {
    width: 90%;
  }

  .header-logo {
    width: 100px;
  }

  .hamburguesa {
    width: 50px; 
    height: 50px; 
    top: 20px;
    right: 20px;
  }

  .menu-navegacion {
    width: 150px; 
    right: 0;
  }

  .menu-navegacion a {
    font-size: 16px;
    padding: 8px 0; 
    text-align: center; 
  }

  .titulo {
    font-size: 35px;
  }

  .subtitulo {
    font-size: 25px;
  }

  .contenedor-servicio img {
    width: 50%;
  }

  .lista-servicios {
    width: 100%;
    margin-top: 20px;
    text-align: justify;
  }

  .servicios {
    text-align: justify;
  }

  .galeria-item {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
  }

  .formulario-contacto {
    width: 100%;
    padding: 15px;
  }

  .campo-formulario input,
  .campo-formulario textarea {
    padding: 8px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }

  .footer-contenedor {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .boton-whatsapp {
    width: 50px;
    height: 50px;
  }

  .boton-whatsapp i {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-y: auto;
  }
  .contenedor {
    width: 95%;
  }

  .header-logo {
    width: 80px;
  }

  .hamburguesa {
    width: 40px; 
    height: 40px; 
    top: 15px;
    right: 15px;
  }

  .menu-navegacion {
    width: 120px; 
    right: 0;
  }

  .menu-navegacion a {
    font-size: 14px; 
    padding: 6px 0; 
    text-align: center; 
  }

  .titulo {
    font-size: 45px;
  }

  .subtitulo {
    font-size: 18px;
  }

  .contenedor-servicio img {
    width: 50%;
  }

  .subtitulo {
    font-size: 25px;
  }

  .contenedor-servicio img {
    width: 70%;
  }

  .lista-servicios {
    width: 90%;
    margin-top: 15px;
    text-align: justify;
  }

  .servicios {
    text-align: justify;
  }

  .galeria-item {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .formulario-contacto {
    width: 100%;
    padding: 10px;
  }

  .campo-formulario input,
  .campo-formulario textarea {
    padding: 6px;
    font-size: 12px;
  }

  button[type="submit"] {
    padding: 8px;
    font-size: 20px;
  }

  .footer-contenedor {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .boton-whatsapp {
    width: 40px;
    height: 40px;
  }

  .boton-whatsapp i {
    font-size: 40px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  body {
    overflow-y: auto;
  }
  .contenedor {
    width: 85%;
  }

  .header-logo {
    width: 120px;
  }

  .hamburguesa {
    width: 45px; 
    height: 45px; 
    top: 25px;
    right: 25px;
  }

  .menu-navegacion {
    width: 180px;
    right: 10px;
  }

  .menu-navegacion a {
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
  }

  .titulo {
    font-size: 50px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .contenedor-servicio img {
    width: 50%;
  }

  .lista-servicios {
    width: 95%;
    margin-top: 25px;
    text-align: justify;
  }

  .servicios {
    text-align: justify;
  }

  .galeria-item {
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 15px;
  }

  .formulario-contacto {
    width: 90%;
    padding: 20px;
  }

  .campo-formulario input,
  .campo-formulario textarea {
    padding: 8px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 12px;
    font-size: 15px;
  }

  .footer-contenedor {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .boton-whatsapp {
    width: 55px;
    height: 55px;
  }

  .boton-whatsapp i {
    font-size: 28px;
  }
}



/* Estilo para la p치gina de confirmaci칩n del formulario enviado */
.formulario-enviado-body {
  background-image: url('img/imagenFormulario.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-enviado {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
  color: #fff;
}

.titulo-formulario-enviado {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.subtitulo-formulario-enviado {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.boton-regresar {
  display: inline-block;
  padding: 20px 40px; 
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease;
  font-size: 20px; 
}

.boton-regresar:hover {
  background-color: #3d566f;
  transform: scale(1.1);
}

@media screen and (max-width: 800px){

  .formulario-enviado {
    padding: 40px;
  }

  .titulo-formulario-enviado {
    font-size: 40px;
  }

  .subtitulo-formulario-enviado {
    font-size: 18px;
  }

  .boton-regresar {
    padding: 16px 32px; 
    font-size: 18px; 
  }
}

@media screen and (max-width: 500px) {
  .formulario-enviado {
    padding: 30px;
  }

  .titulo-formulario-enviado {
    font-size: 30px;
  }

  .subtitulo-formulario-enviado {
    font-size: 16px;
  }

  .boton-regresar {
    padding: 12px 24px; 
    font-size: 16px; 
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .formulario-enviado {
    padding: 35px;
  }

  .titulo-formulario-enviado {
    font-size: 35px;
  }

  .subtitulo-formulario-enviado {
    font-size: 18px;
  }

  .boton-regresar {
    padding: 16px 32px; 
    font-size: 18px; 
  }
}



